.example-spacer {
  flex: 1 1 auto;
}

.menu-items {
  display: flex;
}

@media only screen and (max-width: 600px) {
  #menuinicio,
  #menuproductos,
  #botonregistrarse,
  #textomarca,
  #botoniniciarsesion,
  #botoncerrarsesion {
    display: none;
  }
}

@media only screen and (min-width: 700px) {
  #menuhamburguesa1 {
    display: none;
  }
}
:host {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Asegúrate de que el z-index sea lo suficientemente alto */
}

mat-toolbar {
  background-color: #AD6B6B;
  color: white;
}