<mat-toolbar>
  <!-- Menú hamburguesa solo disponible en resoluciones de teléfono -->
  <button id="menuhamburguesa1" mat-icon-button [matMenuTriggerFor]="menuhamburguesa">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menuhamburguesa="matMenu">
    <button mat-menu-item routerLink="/inicio">Inicio</button>
    <button mat-menu-item routerLink="/producto">Catálogo</button>
    <button mat-menu-item *ngIf="!isLoggedIn" routerLink="/login">Iniciar Sesión</button>
    <button mat-menu-item *ngIf="!isLoggedIn" routerLink="/registro">Registrarse</button>
    <button mat-menu-item *ngIf="isLoggedIn" (click)="cerrarSesion()">Cerrar Sesión</button>
  </mat-menu>
<img src="/assets/logo.png" alt="logo" id="logo">
  <button mat-button id="menuinicio" routerLink="/inicio">Inicio</button>
  <button mat-button id="menuproductos" routerLink="/producto">Catálogo</button>
  <span class="example-spacer"></span>
  <!-- Botones de "Registrarse" y "Iniciar Sesión" visibles cuando no se ha iniciado sesión -->
  <button mat-button id="botonregistrarse" routerLink="/registro" *ngIf="!isLoggedIn">Registrarse</button>
  <button mat-flat-button id="botoniniciarsesion" routerLink="/login" *ngIf="!isLoggedIn">Iniciar Sesión</button>
  <!-- Botón de "Cerrar Sesión" visible solo cuando el usuario está logueado -->
  <button mat-flat-button id="botoncerrarsesion" *ngIf="isLoggedIn" (click)="cerrarSesion()">Cerrar Sesión</button>
</mat-toolbar>