<mat-toolbar>
  <!-- Menú hamburguesa solo disponible en resoluciones de teléfono -->
  <button id="menuhamburguesa1" mat-icon-button [matMenuTriggerFor]="menuhamburguesa"><mat-icon>menu</mat-icon></button>
  <mat-menu #menuhamburguesa="matMenu">
    <button mat-menu-item routerLink="/inicio">Inicio</button>
    <button mat-menu-item routerLink="/productos">Catálogo</button>
    <button mat-menu-item routerLink="/login">Iniciar Sesión</button>
    <button mat-menu-item routerLink="/registro">Registrarse</button>
  </mat-menu>

  <span id="textomarca">Paraiso amigurumi</span>
  <button mat-button id="menuinicio" routerLink="/inicio">Inicio</button>
  <button mat-button id="menuproductos" routerLink="/productos">catalogo</button>
  <span class="example-spacer"></span>
  <button mat-button id="botonregistrarse" routerLink="/Registro">Registrarse</button>
  <button mat-flat-button id="botoniniciarsesion" routerLink="login">Iniciar Sesión</button>
</mat-toolbar>