<section id="image-carousel" class="splide" aria-label="Beautiful Images">
  <div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide">
				<img src="/assets/carousel1.jpeg" alt="">
			</li>
			<li class="splide__slide">
				<img src="image02.jpg" alt="">
			</li>
			<li class="splide__slide">
				<img src="image03.jpg" alt="">
			</li>
		</ul>
  </div>
</section>
<script>
    document.addEventListener( 'DOMContentLoaded', function () {
    new Splide( '#image-carousel' ).mount();
  } );
  new Splide( '#image-carousel' ).mount();
</script>