/* parallax de la primera foto */
.parallax {
    background-image: url("/assets/inicio1.jpeg");
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

/* imagen de fondo */
.tile-background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}

/* contenedor del texto del tile */
.tile-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

/* texto del tile */
.tile-text {
    font-family: 'Serif';
    color: black;
    padding: 20px;
    font-size: 2em; /* Tamaño de fuente mayor */
    line-height: 1.6; /* Aumenta el espaciado entre líneas */
    text-align: center; /* Asegura que el texto esté centrado */
    margin-bottom: 15px; /* Añade un poco de espacio debajo del texto */
}

.solido {
    background-color: pink;
    height: 100%;
    width: 100%;
    top: 0;
    left: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    white-space: pre-line;
    
}
.title{
    background-color: #8A4A4A;
    height: 100%;
    width: 100%;
    top: 0;
    left: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    white-space: pre-line;
    
}
