.d-block {
    height: 450px;
}

.col-lg-12 {
    justify-content: center;
    display: flex;
}

.container {



    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
} 
/* espacio entre las tarjetas */

.col{
    flex-direction: column;
    display: flex;
    justify-content: center;    
    margin: auto;
    padding: 10px;
    
    align-items: center;
 }


.card {
    justify-content: center;
    text-align: center;
    /* Ajusta el ancho de la tarjeta según sea necesario */
    width: 18rem; 
}
/* color de fondo de las tarjets */
.fondo {
    background-color: #b36363;
}
/* color del boton estandar */
.boton {
    background-color: #D09898;
}
/* color del boton al colocar el cursor encima */
.boton:hover {
    background-color: #a37373;
}
/* color del modal */
.fondo2 {
    background-color: #D09898;
}


.container {
    text-align: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

/* Estilos para la fila */
.col-md-6 {
    justify-content: space-between;
    flex-wrap: nowrap;
}

/* Asegura que todas las tarjetas tengan la misma altura */
.card {
    height: 100%; /* Permite que las tarjetas ocupen el 100% del espacio disponible */
    display: flex;
    flex-direction: column; /* Hace que el contenido interno sea flexible */
    justify-content: space-between; /* Distribuye el contenido de manera uniforme */
    text-align: center;
    width: 18rem; /* Mantiene el ancho que ya tienes */
}

/* Forzar que las imágenes dentro de las tarjetas también se ajusten */
.card-img-top {
    height: 200px; /* Ajusta esta altura según tus necesidades */
    object-fit: cover; /* Asegura que la imagen se recorte para ajustarse */
}

.card-body {
    flex-grow: 1; /* Hace que el contenido crezca para ocupar el espacio disponible */
}
@media only screen and (max-width: 600px) {
    /* modal */
    .modal-content{
        align-items: center;
    }
    }
    @media only screen and (min-width: 601px) {
        .modal-body{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    }   
