.fondo {
    width: 100vw;
    padding-top: 1px;
    padding-bottom: 5rem;
    margin-top: 0;
    background-color: #8a4a4a;
}

/* contenedor que abarca todo el formulario */
.container {
    display: flex;
    padding: 10px;
    text-align: center;
    justify-content: center;
    border: 0.1em solid black;
    background-color: #b36363;
    border-radius: 25px;
    margin-top: 50px;
    padding-top: 50px;
}

.row {
    margin: 0;
}

@media only screen and (min-width: 701px) {
    .imgfondo {
        margin: 0;
        padding: 0;
        width: 25vw;
        object-fit: cover;
        border-radius: 65px;
    }

    /* cuando es resolucion de computadora el formulario se mantiene un margin de 25px para mantener distancia con la imagenz*/
.row{

    margin: 25px;
}
}

@media only screen and (max-width: 700px) {

    /* cuando la pantalla tiene la resolucion de un celular la imagen desaparece */
    .imgfondo {
        display: none;
    }
    .container{
        border-radius: 0;
        
    }
    /* cuando es resolucion de telefono el formulario se centra eliminando el margin */
    .row{

            margin: 0px;
        }
}

.boton {
    width: 100%;
    margin: full;
    background-color: #D09898;
    ;
    color: black
}

.boton:hover {
    background-color: #a37373;

}

mat-form-field {
    margin: 15px 0;
    /* Ajusta el margen superior e inferior según sea necesario */
}